main{
    margin-top: 15%;
    display: flex;
    flex-direction: column;

    .first-section{
        display: flex;
        flex-direction: column;
        align-items: center;

        h2,p{
            text-align: center;
        }

        h2{
            margin: 10% 0 3% 0;
            text-decoration: underline #FA990C .2rem;
        }

        p{
            font-size: x-large;
        }

        button{
            width: 13%;
            height: 2.3rem;
            font-size: x-large;
            margin-top: 2%;
            cursor: pointer;
            border-radius: 10px;
            border: none;
            background-color: #19D2C2;
            @media only screen and (max-width:1024px){
                width: 15%;
            }
        }
    }

    .second-section{
        background-color: #F2F2F2;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8%;

        h2{
            margin-top: 5%;
            font-size: 2.5rem;
        }
        .div-flex{
            margin-top: 5%;
            width: 80%;
            display: flex;
            justify-content: space-evenly;
            @media only screen and (max-width:1024px){
                justify-content: space-around;
            }
            
            .card{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 18rem;
                height: 18rem;
                background-color: #1C1364;
                color: #FA990C;
                border-radius: 250px;
                margin-bottom: 3%;
                a{
                    color: #FA990C;
                    text-decoration: none;                    
                }
                cursor: pointer;
                @media only screen and (max-width:1440px){
                    width: 15rem;
                    height: 15rem;
                }
                @media only screen and (max-width:1024px){
                    width: 12rem;
                    height: 12rem;
                }
            }
        }
    }

    .third-section{
        display: flex;
        flex-direction: column;
        .sub-title{
            text-align: center;
            margin-bottom: 3%;
            margin-top: 3%;
        }

        .card-retangular{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 10% 1fr 1fr;
            width: 85%;
            height: 30rem;
            margin: auto;
            background-color: #F2F2F2;
            border-radius: 20px;
            padding: 1.4rem;
            @media only screen and (max-width:1280px){
                grid-template-rows: 10% 1fr 10%;
                width: 95%;
                height: 31rem;
            }
            h2{
                grid-row: 1/2;
                grid-column: 2/3;
                justify-self: center;
                text-align: center;
                @media only screen and (max-width:1024px){
                    margin-left:5%;
                }
            }

            p{
                grid-row: 2/3;
                grid-column: 2/3;
                justify-self: center;
                align-self: center;
                font-size: 1.8rem;
                @media only screen and (max-width:1280px){
                    font-size: 1.3rem;
                    text-align: center;
                }
            }

            button{
                grid-row: 3/4;
                grid-column: 2/3;
                justify-self: center;
                width: 50%;
                height: 2.3rem;
                font-size: x-large;
                margin-top: 2%;
                cursor: pointer;
                border-radius: 10px;
                border: none;
                background-color: #19D2C2;
                @media only screen and (max-width:1024px){
                    align-self: center;
                }
            }

            img{
                grid-column: 1/2;
                @media only screen and (max-width:1024px){
                    width: 40rem;
                }
            }
        }

        .div-flex{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            margin: 5% auto;
            
            
            .container{
                @media only screen and (max-width:1024px){
                    width: 15rem;
                    margin-top: 5%;
                }
                img{
                    @media only screen and (max-width:1024px){
                        width: 14.9rem;
                    }
                }
            }
        }
    }

}