@import 'https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

header {
  background-color: #1C1364;
  position: relative;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .top-side {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top-side #logo {
  margin-left: 5%;
}
header .top-side nav {
  margin-right: 5%;
  width: 35%;
}
header .top-side nav ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
}
header .top-side nav ul li {
  font-family: Josefin Slab;
  font-size: xx-large;
}
header .top-side nav ul li a {
  color: white;
  text-decoration: none;
}
header .banner {
  width: 65%;
  margin-top: 3%;
}

main {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
}
main .first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .first-section h2, main .first-section p {
  text-align: center;
}
main .first-section h2 {
  margin: 1% 0;
  -webkit-text-decoration: underline #FA990C 0.2rem;
          text-decoration: underline #FA990C 0.2rem;
}
main .first-section p {
  font-size: x-large;
}
main .first-section button {
  width: 13%;
  height: 2.3rem;
  font-size: x-large;
  margin-top: 2%;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #19D2C2;
}
main .second-section {
  background-color: #F2F2F2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
}
main .second-section h2 {
  margin-top: 5%;
  font-size: 2.5rem;
}
main .second-section .div-flex {
  margin-top: 5%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
main .second-section .div-flex .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 18rem;
  background-color: #1C1364;
  color: #FA990C;
  border-radius: 250px;
  margin-bottom: 3%;
  cursor: pointer;
}
main .third-section {
  display: flex;
  flex-direction: column;
}
main .third-section .sub-title {
  text-align: center;
  margin-bottom: 3%;
  margin-top: 3%;
}
main .third-section .card-retangular {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 1fr 1fr;
  width: 85%;
  height: 30rem;
  margin: auto;
  background-color: #F2F2F2;
}
main .third-section .card-retangular h2 {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: center;
}
main .third-section .card-retangular p {
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  font-size: 1.8rem;
}
main .third-section .card-retangular button {
  grid-row: 3/4;
  grid-column: 2/3;
  justify-self: center;
  width: 50%;
  height: 2.3rem;
  font-size: x-large;
  margin-top: 2%;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #19D2C2;
}
main .third-section .card-retangular img {
  grid-column: 1/2;
}/*# sourceMappingURL=style.css.map */